/target
/conf
/log
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
/target
